<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>AXIOS</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <link rel="stylesheet" href="css/estilo.css">
        <!--Links para bootsrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="css/estilos.css" />
   </head>
   <body>
        <header class="text-center text-white">
          <span class="h2"> VUE y AXIOS</span>
        </header>
        <div id="todo">
          <div id="cuerpo">
            <div id="app">
            <h1 id="titulo">Listado de Precio de Bitcoin</h1>
          
            <section v-if="errored">
              <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente mas tarde</p>
            </section>
          
            <section v-else>
              <div v-if="loading">Cargando...</div>
          
              <div v-else v-for="currency in info" class="currency" id="moneda">
                {{ currency.description }}:
                <span class="lighten">
                  <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
                </span>
              </div>
          
            </section>
            </div>
          </div>
        </div>
        <footer class="text-center text-white">
          <span>Dulce Carmona, Leonel Galván, Luis Calvillo</span>
        </footer>
        <script src="js/axios.js"></script>
   </body>
</html>